@model IEnumerable<PrivateSchoolEleniEntity.Models.Student>

@{
    ViewBag.Title = "Student List";
}

<h2>Students</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm())
    {
    <p>
        Last Name: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Filter" />
    </p>
}


    </p>



    @foreach (var item in Model)
    {

        <div class="card-container">
            <div class="card">
                <div class="front">
                    <div class="cover">
                        <img src="images/rotating_card_thumb3.png" />
                    </div>
                    <div class="user">

                        <img class="img-circle" src="@(@Html.DisplayFor(modelItem => item.PhotoUrl))
" />
                    </div>
                    <div class="content">
                        <div class="main">

                            <h3 class="name">
                                @Html.DisplayFor(modelItem => item.FirstName)
                                @Html.DisplayFor(modelItem => item.LastName)
                            </h3>
                            <p class="profession"> Course : @Html.DisplayFor(modelItem => item.Course)</p>

                        </div>
                        <div class="footer">
                            <div class="rating">
                                <i class="fa fa-mail-forward"></i> Auto Rotation
                            </div>
                        </div>
                    </div>
                </div> <!-- end front panel -->
                <div class="back">
                    <div class="header">
                        <h5 class="motto">
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </h5>
                    </div>
                    <div class="content">
                        <div class="main">
                            <h4 class="text-center">Date of Birth</h4>
                            <p class="text-center"> @Html.DisplayFor(modelItem => item.DateOfBirth)</p>

                            <div class="stats-container">
                                <div class="stats">
                                    <h4>Phone</h4>
                                    <p>
                                        @Html.DisplayFor(modelItem => item.Telephone)

                                    </p>
                                </div>
                                <div class="stats">
                                    <h4>Email</h4>
                                    <p>
                                        @Html.DisplayFor(modelItem => item.Email)

                                    </p>
                                </div>
                                <div class="stats">
                                    <h4>Fees</h4>
                                    <p>
                                        @Html.DisplayFor(modelItem => item.Fees)
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="footer">
                        <div class="social-links text-center">
                            <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                            <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                            <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                        </div>
                    </div>
                </div> <!-- end back panel -->
            </div> <!-- end card -->
        </div>
        <!-- end card-container -->


    }